<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name ="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\CurrencyConverter\CurrencyConverter\Database\CurrencyConvertor.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>